#home {
  color: rgb(255, 255, 255);
  /* overflow: visible; */
  /* font-family: D-DIN-Regular, Arial, Verdana, sans-serif; */
  /* font-size: 16px; */
  /* font-stretch: 100%; */
  /* font-weight: 400; */
  /* line-height: 26px; */
  /* width: 100%; */
}

svg {
  min-height: 26.25px;
  min-width: 110px;
  /* display: inline; */
  height: 26.25px;
  /* overflow-x: hidden;
  overflow-y: hidden; */
  /* width: 30%; */
  position:absolute;
  top:30%;
  left:0px;
  margin: 0px 50px;
  
}
#header {
  display: flex;
  z-index: 100;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: start;
  align-items: start;
  width: 100%;
  height: 100px;
  text-transform: uppercase;
  position: absolute;
  top: 0px;
  /* font-size: 10px; */
}

#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
  /* left: 285px;
  right:100px; */
  /* top: 40%; */
  width:68%;
  /* margin-left:50px; */
  padding-left:50px;
  left:100px;

}

#hamburger {
  display: block;
  float:right;
  background-color: rgba(0, 0, 0, 0);
  height: 16px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0px;
  position: absolute;
  right: 30px;
  top: 40%;
  width: 16px;
}

#bar1 {
  background-color: rgb(255, 255, 255);
  display: block;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 3px;
  transform-origin: 8px 1px;
  width: 100%;
}

#bar2 {
  background-color: rgb(255, 255, 255);
  display: block;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 7px;
  transform-origin: 8px 1px;
  width: 100%;
}

#bar3 {
  background-color: rgb(255, 255, 255);
  display: block;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 11px;
  transform-origin: 8px 1px;
  width: 100%;
}

#tiles {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* align-items: center; */
  /* flex-wrap: wrap; */
}
section {
  padding:20px;
height: 2000px;
width: 100%;
background-color: #cccccc;
background-position: center; 
background-repeat: no-repeat; 
background-size: cover;
}

section div {
  display:flex;
  flex-direction:column;
  justify-content:center;
  height:100%;

}
#starship{
  position:relative;
  top:10%;
  background-image:url("https://sxcontent9668.azureedge.us/cms-assets/assets/STARSHIP_Testflight_DESKTOP_2b3bea613a.jpg");
}
#viasat {
  position:relative;
  background-image:url("https://sxcontent9668.azureedge.us/cms-assets/assets/homepage_desktop_6afe3be774.jpg");
  
}
#ses {
  position:relative;
  background-image:url("https://sxcontent9668.azureedge.us/cms-assets/assets/homepage_1054_1_mobile_cad99a6947.jpg")
}
#starlink {
  position:relative;
  background-image:url("https://sxcontent9668.azureedge.us/cms-assets/assets/Starlink_G3_5_San_Mig_5920_Desktop_bce3e49b77.jpg");
}
#nasa {
  position:relative;
  background-image:url("https://sxcontent9668.azureedge.us/cms-assets/assets/Homepage_Desktop_5ebdeb0c6c.webp");
}


h4 {
  color: rgb(255, 255, 255);
  font-family: D-DIN-Medium, Arial, Verdana, sans-serif;
  font-size: 20px;
  font-stretch: 100%;
  font-weight: 400;
  line-height: 38px;
  position: relative;
  text-transform: uppercase;
}
h2 {
  color: rgb(255, 255, 255);
  font-family: D-DIN-Medium, Arial, Verdana, sans-serif;
  font-size: 50px;
  font-stretch: 100%;
  font-weight: 400;
  line-height: 58px;
  position: relative;
  text-transform: uppercase;
  width:40%;
}
h3 {
  color: rgb(255, 255, 255);
  font-family: D-DIN-Medium, Arial, Verdana, sans-serif;
  font-size: 40px;
  font-stretch: 100%;
  font-weight: 400;
  line-height: 38px;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  text-transform: 10 0;
  height:50px;
  padding:30px;
  width:250px;
  border: 3px solid white;
}
#footer {
  display: flex;
  line-height: 18px;
  padding-bottom: 20px;
  padding-top: 20px;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  text-align: center;
  text-transform: uppercase;
}
